---
// Component Imports
import ChipImage from "../components/ChipImage.astro";

import { Icon } from "astro-icon";
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<section class="container mx-auto p-4 h-screen">
  <div class="grid grid-cols-1 place-items-center content-center h-full">
    <div class="columns-1 p-5 text-center justify-center">
      <ChipImage />

      <h1 class="text-6xl text-zinc-800 font-bold">Milton Aguirre</h1>
      <h3 class="text-3xl text-teal-700">Software developer</h3>
      <div class="grid grid-cols-3 gap-2 m-3 w-1/2 self-center mx-auto">
        <div class="column-1">
          <a
            href="https://www.linkedin.com/in/milton-luis-aguirre/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="mdi:linkedin" color="#14b8a6" />
          </a>
        </div>
        <div class="column-1">
          <a
            href="https://github.com/MiltonAguirre"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="mdi:github" color="#14b8a6"/>
          </a>
        </div>
        <div class="column-1">
          <a
            href="https://www.instagram.com/milton.lucho/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon name="mdi:instagram" color="#14b8a6" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
