---
// Component Imports
import Button from '../components/Button.astro';
import { Icon } from 'astro-icon'
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Milton Aguirre Dev</title>
	</head>

	<body class="bg-zinc-800">
		<section class="grid grid-cols-1 place-items-center h-screen content-center">
				<div class="columns-1 p-5 text-center justify-center">
					<div class="p-5 bg-teal-500 rounded-full shadow-2xl shadow-teal-700 mb-5">
						<div class="p-4 bg-teal-300 rounded-full">
							<img src="/images/me.jpg" width="350" alt=""
							class="rounded-full"
							>
						</div>
					</div>
					<h1
					class="text-6xl text-zinc-200 font-bold"
					>Milton Aguirre</h1>
					<h3
					class="text-3xl text-zinc-400"
					>Software developer</h3>
				</div>
				<div class="grid grid-cols-3 gap-4 mt-3">
					<div class="w-14 p-1 rounded-full">
					<a href="https://www.linkedin.com/in/milton-luis-aguirre/" target="_blank" rel="noopener noreferrer">
						<Icon name="mdi:linkedin" color={'rgb(94, 234, 212)'} />
					</a>
					</div>
					<div class="w-14 p-1 rounded-full">
					<a href="https://github.com/MiltonAguirre" target="_blank" rel="noopener noreferrer">
						<Icon name="mdi:github" color={'rgb(94,234,212)'} />
					</a>
					</div>
					<div class="w-14 p-2 rounded-full">
					<a href="https://www.instagram.com/milton.lucho/" target="_blank" rel="noopener noreferrer">
						<Icon name="mdi:instagram" color={'rgb(94, 234, 212)'} />	
					</a>
					</div>
				</div>
		
		</section>
		<section class="place-items-center h-screen content-center text-xl text-zinc-300">
			<div class="container ">
				<h3 class="text-5xl text-zinc-300 text-center font-bold">About me</h3>
				<p class="m-6"><span class="text-teal-700">Hello, im Milton,</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae ab eligendi soluta consequatur dolor minus ipsa hic iste eaque nostrum dignissimos, distinctio est doloremque. Pariatur fugiat similique inventore non quam.</p>
				<div class="p-2 m-2">
					<h4 class="text-2xl text-teal-600 text-center font-bold">Passions and interests</h4>
					<div class="grid grid-cols-2 gap-6 mt-4">
						<div class="bg-zinc-700 shadow-md shadow-teal-300 rounded-lg p-2">
							<div class="w-[70%] mx-auto">
								<Icon name="iconoir:gym" color={'rgb(94, 234, 212)'}/>
							</div>
							<div class="text-center ">
								<span class="text-zinc-200 text-lg font-bold">Gym</span>
							</div>
						</div>
						<div class="bg-zinc-700 shadow-md shadow-teal-300 rounded-lg p-2">
							<div class="w-[70%] mx-auto">
								<Icon name="mdi:spotify" color={'rgb(94, 234, 212)'} />	
							</div>
							<div class="text-center ">
								<span class="text-zinc-200 text-lg font-bold">Music</span>
							</div>
						</div>
						<div class="bg-zinc-700 shadow-md shadow-teal-300 rounded-lg p-2">
							<div class="w-[70%] mx-auto">
								<Icon name="fa:futbol-o" color={'rgb(94, 234, 212)'} size={'90%'} style={{margin:'5%'}} />	
							</div>
							<div class="text-center ">
								<span class="text-zinc-200 text-lg font-bold">Soccer</span>
							</div>
						</div>
						<div class="bg-zinc-700 shadow-md shadow-teal-300 rounded-lg p-2">
							<div class="w-[70%] mx-auto ">
								<Icon name="cib:epic-games" color={'rgb(94, 234, 212)'} size={'90%'} style={{margin:'5%'}}/>	
							</div>
							<div class="text-center ">
								<span class="text-zinc-200 text-lg font-bold">Video Games</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="p-2 h-screen ">
			<h3 class="text-5xl text-zinc-300 text-center font-bold mb-[15%]">Skills</h3>
			<div class="grid grid-cols-3 gap-5 m-3 text-md ">
				<div class="bg-zinc-800 shadow-sm shadow-teal-400 aspect-square rounded-xl p-1 justify-center place-items-center content-center">
					<div class="w-[50%] mx-auto m-3">
						<Icon name="mdi:react" color={'rgb(20,184,166)'} size={60} />	
					</div>
					<div class="col-auto text-center">
						<span class="text-teal-400 font-bold">React JS</span>
					</div>
				</div>
				<div class="bg-zinc-800 shadow-sm shadow-teal-400 aspect-square rounded-xl p-1 justify-center place-items-center content-center">
					<div class="w-[50%] mx-auto m-3">
						<Icon name="mdi:vuejs" color={'rgb(20,184,166)'} size={60} />	
					</div>
					<div class="col-auto text-center">
						<span class="text-teal-400 font-bold">Vue JS</span>
					</div>
				</div>
				<div class="bg-zinc-800 shadow-sm shadow-teal-400 aspect-square rounded-xl p-1 justify-center place-items-center content-center">
					<div class="w-[50%] mx-auto m-3">
						<Icon name="mdi:laravel" color={'rgb(20,184,166)'} size={60} />	
					</div>
					<div class="col-auto text-center">
						<span class="text-teal-400 font-bold">Laravel</span>
					</div>
				</div>
				<div class="bg-zinc-800 shadow-sm shadow-teal-400 aspect-square rounded-xl p-1 justify-center place-items-center content-center">
					<div class="w-[50%] mx-auto m-3">
						<Icon name="fa-brands:bootstrap" color={'rgb(20,184,166)'} size={60} />	
					</div>
					<div class="col-auto text-center">
						<span class="text-teal-400 font-bold">Bootstrap</span>
					</div>
				</div>
				<div class="bg-zinc-800 shadow-sm shadow-teal-400 aspect-square rounded-xl p-1 justify-center place-items-center content-center">
					<div class="w-[50%] mx-auto m-3">
						<Icon name="mdi:tailwind" color={'rgb(20,184,166)'} size={60} />	
					</div>
					<div class="col-auto text-center">
						<span class="text-teal-400 font-bold">Tailwind</span>
					</div>
				</div>
				<div class="bg-zinc-800 shadow-sm shadow-teal-400 aspect-square rounded-xl p-1 justify-center place-items-center content-center">
					<div class="w-[50%] mx-auto m-3">
						<Icon name="fontisto:mysql" color={'rgb(20,184,166)'} size={60} />	
					</div>
					<div class="col-auto text-center">
						<span class="text-teal-400 font-bold">MySQL</span>
					</div>
				</div>
				<div class="bg-zinc-800 shadow-sm shadow-teal-400 aspect-square rounded-xl p-1 justify-center place-items-center content-center">
					<div class="w-[50%] mx-auto m-3">
						<Icon name="tabler:brand-react-native" color={'rgb(20,184,166)'} size={60} />	
					</div>
					<div class="col-auto text-center">
						<span class="text-teal-400 font-bold">React Native</span>
					</div>
				</div>
				<div class="bg-zinc-800 shadow-sm shadow-teal-400 aspect-square rounded-xl p-1 justify-center place-items-center content-center">
					<div class="w-[50%] mx-auto m-3">
						<Icon name="mdi:git" color={'rgb(20,184,166)'} size={60} />	
					</div>
					<div class="col-auto text-center">
						<span class="text-teal-400 font-bold">Git</span>
					</div>
				</div>
				<div class="bg-zinc-800 shadow-sm shadow-teal-400 aspect-square rounded-xl p-1 justify-center place-items-center content-center">
					<div class="w-[50%] mx-auto m-3">
						<Icon name="fa:linux" color={'rgb(20,184,166)'} size={60} />	
					</div>
					<div class="col-auto text-center">
						<span class="text-teal-400 font-bold">Linux</span>
					</div>
				</div>

			</div>
			
		</section>

		<section class="place-items-center h-screen content-center text-xl text-zinc-300">
			<div class="container ">
				<h3 class="text-5xl text-zinc-300 text-center font-bold">Projects</h3>
				<div class="p-2 m-4">
					<h4 class="text-2xl text-teal-600 text-center font-bold">Personal</h4>
					<p class="m-2">Lorem ipsum ecusandae ab eligendi soluta consequatur dolor minus ipsa hic iste eaque nostrum dignissimos.</p>
					<div class="grid grid-cols-1 gap-4 mt-4">
						<div class="bg-zinc-700 rounded-lg p-2">
							<div class="m-auto">
								<img src="https://picsum.photos/600/400" class="bg-zinc-600 rounded-lg shadow-teal-300 shadow-md"/>
							</div>
							<div class="text-center p-2 mt-2">
								<span class="text-teal-300 text-lg font-bold">BarberOn</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>
